.div-introduce {
  height: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin: 0 0 3rem 0;
}

.div-introduce > h1 {
  font-size: 3rem;
}

.div-introduce > h1 > span {
  color:rgb(245, 184, 51);
}

.div-introduce > h2 {
  font-size: 1.75rem;
}

.div-introduce > p {
  font-size: 1.5rem;
}