.div-introduce {
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin: 0 0 3rem 0;
}

.div-introduce > h1 {
  font-size: 3rem;
}

.div-introduce > h1 > span {
  color: var(--span);
}

.div-introduce > h2 {
  font-size: 1.75rem;
}

.div-introduce > p {
  font-size: 1.5rem;
}

.div-introduce > p > span {
  color: var(--main-primary);
}

@media (max-width: 700px) {
  .div-introduce > h1 {
    font-size: 2.75rem;
  }

  .div-introduce > h2 {
    font-size: 1.5rem;
  }

  .div-introduce > p {
    font-size: 1.25rem;
  }
}