.icon-menu {
  color: var(--menu-secondary);
  height: 2.7rem;
  width: 2.7rem;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

@media (min-width: 1025px) {

  .icon-menu:hover {
    filter: drop-shadow(2px 2px 5px rgba(243, 39, 39, 0.6));
    color: var(--menu-primary);
    transform: scale(1.03);
  }

}
