#particles-js {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
}

#container {
  height: 100%;
  width: 100%;
  position: relative;
}

.dark-container {
  color: var(--primary-dark);
}

.light-container {
  color: var(--primary-light);
}